.instruction,
::marker {
  font-size: 1.5em;
  font-weight: bold;
}

input {
  display: inline;
}

li {
  margin-bottom: 20px;
}

.relative {
  position: relative;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.submit,
.checkbox {
  display: block;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: var(--ft-color-on-primary);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#waitingMessage,
#successMessage,
#errorMessage {
  display: none;
}

#waitingMessage {
  color: blue;
}

#successMessage {
  color: green;
}

#errorMessage {
  color: red;
}
